* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;
    background-image: url("./img/Body.png");
    background-size: cover;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 650px;
    width: 1300px;
    padding: 20px;
    background: rgba(187, 210, 243, 0.41);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.9px);
    -webkit-backdrop-filter: blur(6.9px);
    border: 1px solid rgba(187, 210, 243, 0.3);
}

.left-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    position: right;
    height: 100%;
    background-color: aquamarine;
}

h1 {
    margin-bottom: 150px;
    color: #29294f;
    font-size: 2.5rem;
}

h2 {
    font-size: 2.5rem;
    color: #29294f;
    text-align: center;
    margin-bottom: 150px;
}

.right-side {
    padding: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    position: relative;
    height: 100%;
    background-color: blanchedalmond;
}

h3 {
    font-size: 2.5rem;
    color: #29294f;

    text-align: center;
    margin-bottom: 150px;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    border-radius: 30px;
    border: 1px solid #ccc;
}

.password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.remember-me {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.social-icons {
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

.social-icons img {
    width: 30px;
    height: 30px;
    border-radius: 95px;
}

button {
    background-color: #ccc;
    border-radius: 3rem;
    padding: 10px 20px;
    color:black;
    font: 1.2rem;
    cursor: pointer;
}

.submit {
    justify-content: center;
}