* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;
    background-image: url("./img/Body.png");
    background-size: cover;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    border-radius: 20px;
    background: linear-gradient(145deg, #ccc, #f0f0f0);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 600px;
    max-width: 100%;
    
}

.left-side, .right-side {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    position: relative;
}

.left-side {
    background: linear-gradient(135deg, #ffa751, #ff7c48, #ff3f73, #fd6bfc);
    color: #fff;
}

.right-side {
    background: linear-gradient(135deg, #d4fc79, #96e6a1, #ffb3c7, #e4c1f9);
}

h2 {
    margin-bottom: 20px;
}

.create-account, .login-btn {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.input-group {
    position: relative;
    width: 100%;
    margin-bottom: 15px;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.remember-me {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.social-icons {
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

.social-icons img {
    width: 30px;
    height: 30px;
}